body,table,ul,div,form,input{padding:0;margin:0;font-size:12px;}
a{text-decoration:none;}

.webbtn{font-family:Webdings;}
.wingbtn{font-family:Wingdings;}
.full_area{width:100%;height:100%;margin:0;padding:20px;color:#666;font-family:Courier New;line-height:152%;word-wrap:break-word;border:0;resize: none;}

.tab_list{margin:0;width:100%;list-style:none;word-wrap:break-word;white-space:nowrap;border-bottom:1px solid;font-size:0;}
.tab_list li{margin:0;display:inline-block;position:relative;border:1px solid;border-bottom:0;padding:2px 5px;font-size:12px;cursor:pointer;}
.tab_list li.checked{font-weight:bold;}

.searchBtn{padding:2px 0;display:inline-block;width:100%;background-color:#D2D9E2;}
.searchBtn table{margin-left:3px;border-spacing:0;}
.searchBtn td{padding:2px;}
.searchBtn button{height:16px;width:16px;border:0;font-size:15px;padding:0;background-color:transparent;font-weight:bold;cursor:pointer;}
.searchBtn button:not(:disabled):hover{background-color:#FFE8A6;}
.searchBtn input{height:16px;border:0;text-align:center;width:30px;}
.searchBtn select{width:50px;font-size:9px;overflow:hidden;}
.searchBtn select option:hover{background-color:#3399FF;color:#FFF;}

.selectView{position:relative;}
.selectView select{position:absolute;z-index:999;}
